@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --coral: #EEBBC3;
    --white30: #FFFFFE;
    --white20: #A5A3A5;
    --white10: #3A3539;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--white30);
    font-family: 'Nunito', sans-serif;
    background: #232946;
}

a {
    color: var(--white30);
}

.header-content {
    padding-inline: 20px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white);
}

header li {
    color: var(--white20);
    margin-block-end: 16px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header a:hover {
    color: var(--white30);
}

nav details summary {
    font-weight: bold;
    line-height: 44px;
}

header li {
    margin-bottom: 16px;
}

h1, h2, h3 {
    font-weight: normal;
}

hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}

.main hr {
    display: none;
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}

p {
    color: #B8C1EC;
}


blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--coral);
    
    line-height: 32px;
    font-size: 24px;

    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;    
}

blockquote p {
    color: var(--white30);
}

blockquote span{
    color: var(--white30);
}

blockquote span::before {
    content: "-";
}

.wrapper {
    max-inline-size: 902px;/*inline-size: 902px;/*width: 902px;*/
    margin: auto;
}

.main-content {
    padding: 16px;
}

 
.section-content:first-of-type {
    margin: 0;
}

 .section-content {
     margin-top: 125px;
 }

 .section-content ul li {
     margin-bottom: 16px;
     color: #B8C1EC;
 }

 .section-content ol li{
     line-height: 24px;
 }

 .section-content + hr {
    display: none;
 }

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content h3{
counter-increment: titleList;
padding-bottom: 8px;
 }

.section-content h3::before{
    content: counter(titleList) ". ";
}

.section-content{
    counter-reset: titleList;
}

.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}

.form input {
    inline-size: 100%;
    box-sizing: border-box;
    border: 1px solid var(--white30);
    background: #251F24;
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input[type="submit"] {
    background: var(--coral);
    border: none;
}

.form input::placeholder {
    color: var(--white20);
}


/*Pie de página*/

footer {
    background-color: var(--coral);
}

.section-footer {
    margin-block-start: 150px;
}

.copyrigth{
    color: #232946;
    text-align: center;
    /*margin-block-start: 140px;*/
    padding-block-start: 30px;
    font-size: 1.2em;
}

.redes {
    display: flex;
    color: #232946;
    justify-content: center;
    padding-block-end: 52px;
}

.redes, a{
    padding-inline-end: 15px;
}

@media screen and (min-width: 1366px) {

    .header{
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    
    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}