@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 18px;
    --white30: white;
    --black30: #000000;
    --purple: #5551FF;
    --black10: #545454;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: var(--black10);
    font-family: 'Nunito', sans-serif;
}

a {
    color: var(--black10);
}

.header-content {
    padding-inline: 20px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white);
}

header li {
    color: var(--purple);
    margin-block-end: 16px;
}

header a {
    color: var(--black30);
    text-decoration: none;
}

header a:hover {
    color: var(--white30);
    background-color: var(--purple);
}

nav details summary {
    font-weight: bold;
    line-height: 44px;
}

details[open] {
    font-weight: 700;
}


header li {
    margin-bottom: 16px;
    color: var(--black30);
}

h1, h2, h3 {
    font-weight: normal;
    color: var(--black30);
    text-align: center;
}

hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}

pre {
    background: var(--white30);
    padding: 40px;
    overflow: auto;
    border: 10px solid var(--purple);
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block-end: 30px;
}

h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}

.hero {
    background: linear-gradient(254.07deg, #B385ED -6.37%, #d729ee57 102.18%), url("../../images/patron-2.png");
    block-size: 50px;
}

p {
    color: var(--black10);
    text-align: center;
}

p span {
    color: var(--purple);
}


blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--white30);
    line-height: 32px;
    font-size: 24px;

    border-left: 4px solid var(--purple);
    padding-inline-end: 160px;
    padding-inline-start: 24px;
    padding-block-start: 0;
    padding-block-end: 0;    
}

blockquote p {
    color: var(--black30);
}

blockquote span{
    color: var(--black30);
}

blockquote span::before {
    content: "-";
}

.wrapper {
    max-inline-size: 902px;/*inline-size: 902px;/*width: 902px;*/
    margin: auto;
}

.main-content {
    padding: 16px;
}
 
.section-content:first-of-type {
    margin: 0;
}

 .section-content {
     margin-top: 100px;
 }

 .section-content ul li {
     margin-bottom: 16px;
 }

 .section-content ol li{
     line-height: 24px;
 }


.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
    margin: auto;
}

.section-content h3{
counter-increment: titleList;
padding-bottom: 8px;
 }

.section-content h3::before{
    content: counter(titleList) ". ";
}

.section-content{
    counter-reset: titleList;
}

ul li {
    color: var(--purple);
}

li span {
    color: var(--black10);
}

.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    block-size: 15px;
    background: var(--purple);
    border-radius: 50%;
}

/*Formulario suscribete*/

.section-content, h2{
    text-align: left;
}
.section-form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.form-name, .form-dates {
    border: 1px solid var(--black10);
    border-radius: 90px;
    width: 280px;
    height: 30px;
    padding: 12px 16px;
    font-size: 1em;
    font-weight: 400;
    color: #616161;
}

.form-dates {
    margin-inline-start: 30px;
}

.name, .email {
    width: 280px;
    height: 24px;
    top: 12px;
    border: none;
    font-size: 1em;
    outline: none;
}

.submit {
    border-radius: 90px;
    width: 280px;
    height: 56px;
    font-size: 0.9em;
    color: var(--white30);
    position: relative;
    top: -13px;
    outline: none;
    font-weight: 600;
    background-color: var(--purple);
    padding-inline-start: 15px;
    padding-inline-end: 16px;
}

.form input[type="submit"] {
    border: none;
}

.form input::placeholder {
    color: var(--black10);
}

.form .form-dates {
    display: inline-flex;
}

/*Pie de página*/

footer {
    background-color: var(--black30);
}

.section-footer {
    margin-block-start: 150px;
}

.copyrigth {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--white30);
    text-align: center;
    padding-block-start: 28px;
}

.redes {
    display: flex;
    justify-content: center;
    padding-block-end: 52px;
}

.redes, a{
    padding-inline-end: 15px;
}


@media screen and (min-width: 1366px) {

    .hero {
        block-size: 350px;
    }

    .header{
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding-inline: 0;
    }
    
    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 100%;
        inline-size: 188px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}